.todo-container {
  margin: auto;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  overflow-x: hidden;
}

.todo-tabs {
  max-height: 75vh;
}

@media (max-width: 600px) {
  .todo-container {
    margin-top: 0;
  }
}
